{% load static %}

<!--Main Navigation 1-->
<header >

  <!-- Navbar -->
  <nav class="navbar small navbar-expand-lg py-0 px-4 navbar-light bg-grey">
    <!-- Container wrapper -->
    <div class="container-fluid mx-3">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas me-2 fa-phone"></i> Sales: (844) 844-3144</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas me-2 ms-3 fa-phone"></i> Customer Support: 1 (714) 277-3600</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          Support
        </a>
        <a class="text-reset" href="#">
          Contact us
        </a>
      </div>
      <!-- Right elements -->

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

</header> 
<!--Main Navigation 1-->




<!--Main Navigation-->
<header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg py-3 px-5 shadow_unset navbar-light bg-body-tertiary ">
    <!-- Container wrapper -->
    <div class="container-fluid pe-1">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand d_content mt-2 mt-lg-0" href="#">
          <img
            src="{% static 'img/logo.webp' %}"
            width="10%"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 ms-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Wo we are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Software solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-capitalize btn btn-outline-secondary py-2 btn-rounded" href="#">
          <i class="fas fa-search me-2"></i> Search
        </a>

      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

</header>
<!--Main Navigation-->